*.tar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp*/out/** filter=lfs diff=lfs merge=lfs -text
advance_imap/** filter=lfs diff=lfs merge=lfs -text
Offer_portal/redirect/out.txt filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/** filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp/out/newsletters@getway-finance.com filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/community@onestep-shopping.com_2025-11-02 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/community@onestep-shopping.com_2025-11-04 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/community@onestep-shopping.com_2025-11-05 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/customerservice@heavenshoppingdeals.com_2025-10-26 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/email@effectiveshoppingdeals.com_2025-11-07 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/email@effectiveshoppingdeals.com_2025-11-08 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/email@heavenshoppingdeals.com_2025-12-05 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/mail.people@heavenshoppingdeals.com_2025-10-31 filter=lfs diff=lfs merge=lfs -text
ESP_Module_fsock_send_smtp_auto/out/mail.people@heavenshoppingdeals.com_2025-11-01 filter=lfs diff=lfs merge=lfs -text
advance_imap/april_s50@yahoo.com.txt filter=lfs diff=lfs merge=lfs -text
advance_imap/pr.chit@yahoo.com.txt filter=lfs diff=lfs merge=lfs -text
advance_imap/pujakumari2088@yahoo.com.txt filter=lfs diff=lfs merge=lfs -text
advance_imap/varsha.k11@yahoo.com.txt filter=lfs diff=lfs merge=lfs -text
